<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网盘</title>
    <link rel="icon" href="img/logo.ico" type="images/x-ico" />
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
    <style>
        span, img {
            cursor: pointer;
        }

        img {
            width: 13px;
            height: 13px;
        }

        em {
            color: red;
            font-style: normal;
        }
    </style>
</head>
<body>
<div id="app">
    <div style="display: flex">
        <div>
            <el-button type="primary" @click="dialogVisible = true">上传文件</el-button>
        </div>
        <div>
            <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
            <span> {{announcement}} </span>
        </div>
        <div style="justify-content: flex-end; margin-left: auto">
            <el-button type="primary" @click="downloadAll()">批量下载</el-button>
        </div>

    </div>


    <br> <br>
    <div class="el-input el-input--prefix el-input--suffix" style="width: 250px;">
        <input v-model="fuzzyQueriesVariable" type="text" autocomplete="off" placeholder="搜索" class="el-input__inner">
        <span class="el-input__prefix">
            <i class="el-input__icon el-icon-search" @click="fuzzyQueries(fuzzyQueriesVariable)" style="cursor: pointer;"></i>
        </span>
    </div>
    <br v-if="this.num > 0"> <br v-if="this.num > 0">
    <div v-if="this.num > 0">
        <el-row>
            <el-button @click="selectRoot" size="mini" round>首页</el-button>
            <span> | </span>
            <el-button @click="back" size="mini" round>返回上一级</el-button>
        </el-row>
    </div>

    <br>


    <!--下载表格-->
    <template>
        <el-table
                :data="tableData"
                @row-click="clickData"
                @select="clickCheckbox"
                @select-all="clickCheckbox"
                style="width: 100%">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    label="文件名"
                    fit="true">
                <template slot-scope="scope">
                    <img :src="getImage(scope.row.directoryName)">
                    <span> {{scope.row.name}}</span>
                </template>
            </el-table-column>
            <el-table-column
                    label="文件大小">
                <template slot-scope="scope">
                    <span>{{scope.row.fileSize}}</span>
                </template>
            </el-table-column>
            <el-table-column
                    label="下载">
                <template slot-scope="scope">
                    <a v-if="scope.row.directoryYN == false" :href="downloadFile(scope.row.directoryName)"
                       :download="scope.row.name">下载</a>
                </template>
            </el-table-column>

        </el-table>
    </template>
    <br>

    <!--上传弹窗-->
    <el-dialog
            :visible.sync="dialogVisible"
            align="center"
            width="30%">
        <el-upload
                class="upload-demo"
                drag
                action="/upload"
                multiple>
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
        </el-upload>
    </el-dialog>

</div>


<!--<script src="js/vue.js"></script>-->
<!--<script src="element-ui/lib/index.js"></script>-->
<!--<script src="js/axios-0.18.0.js"></script>-->

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    new Vue({
        el: "#app",
        mounted() {
            this.selectRoot()
        },
        methods: {
            //获取图片
            getImage(absolutePath){
                return "http://127.0.0.1/image?absolutePath=" + absolutePath
            },
            // 打勾
            clickCheckbox(selection, row){
                this.downloadList = []
                for (let i = 0; i < selection.length; i++) {
                    this.downloadList[i] = selection[i].directoryName
                }
                console.log(this.downloadList)
            },
            downloadAll(){
                let a = document.createElement("a")
                a.href = "/download/zip?path=" + this.downloadList.toString()
                a.download = "download.zip"
                a.click()
            },
            //查询文件
            fuzzyQueries(fileName){
                if(fileName == null || fileName.length == 0){
                    this.selectRoot()
                    return
                }
                axios({
                    method: "get",
                    url: "/selectFile/" + this.fuzzyQueriesVariable
                }).then(resp => {
                    this.tableData = resp.data.data;
                    this.num = 1
                })
            },
            //返回上一级
            back() {
                this.directoryName = this.directoryName.substring(0, this.directoryName.lastIndexOf("/"))
                if(this.num == 1){
                    this.selectRoot()
                    this.num = 0
                    return
                }
                if (this.directoryName.length == 2) {
                    this.directoryName += "/"
                }
                axios({
                    method: "post",
                    url: "/selectFile/directory",
                    data: {directoryName: this.directoryName}
                }).then(resp => {
                    this.tableData = resp.data.data;
                })
                this.num--
                this.fuzzyQueriesVariable = ""
            },
            //点击表格
            clickData(row, event, column) {
                if (row.directoryYN == true) {
                    axios({
                        method: "post",
                        url: "/selectFile/directory",
                        data: {directoryName: row.directoryName}
                    }).then(resp => {
                        this.tableData = resp.data.data;
                    })
                    this.directoryName = row.directoryName
                    this.num++
                }
            },
            /*查询根目录*/
            selectRoot() {
                this.num = 0
                axios({
                    method: "get",
                    url: "/selectFile/root"
                }).then(resp => {
                    this.tableData = resp.data.data.list;
                    this.announcement = resp.data.data.announcement
                })
                this.fuzzyQueriesVariable = ""
            },
            /*下载文件*/
            downloadFile(row) {
                /*                window.open(
                                    "/download?filePath=" + row,"_self"
                                )*/
                return "/download?filePath=" + row;
            },
            downloadZip(){

            }
        },
        data() {
            return {
                downloadList:[],
                //上传弹窗是否显示
                dialogVisible: false,
                directoryName: "",
                num: 0,
                announcement: "公告",
                fuzzyQueriesVariable: "",
                tableData: [{
                    name: "",
                    directory: "",
                    directoryName: "",
                    fileSize: "",
                    directoryYN: ""
                }]
            }
        }
    })

</script>
</body>

</html>