<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.LoginMapper">

    <select id="getPermissions" resultType="java.lang.String">
        select menu.menu_key
        from user
                 left join user_role on user.id = user_role.user_id
                 left join role on user_role.role_id = role.id
                 left join role_menu on role.id = role_menu.role_id
                 left join menu on role_menu.menu_id = menu.id
        where user.account = #{userId}
    </select>

    <select id="getRole" resultType="java.lang.String">
        select role.role_key
        from user
                 left join user_role on user.id = user_role.user_id
                 left join role on user_role.role_id = role.id
        where user.account = #{userId}
    </select>
</mapper>